@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black;
    font-family: "Montserrat";
    margin: 0px;
}

.header{
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px ;
}

.headerbox{
    display: flex;
    max-width: 1520px;
    width: 100%;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
    
}

a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: white;
}

a:hover{
    background-size: 100% 1.5px;
}

.join{
    color: white;
}


.navigation{
    max-width: 434px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: center;
    
    background-color: white;
}

.footer_box{
    max-width: 1520px;
    width: 100%;
   height: 359px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otstup2{
    margin-top: 508px;
}

.footer_logo{
    display: flex;
    gap: 32px;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 20px;
}

.media_icon {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 230px;
}

.media{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_link{
    color: black;
}


.main_cart{
   display: flex;
   justify-content: center;
   
}


.cart_box{
    display: flex;
    max-width: 1000px;
    width: 100%;
    
    justify-content: center;
    gap: 40px 40px;
    
}

.mini_cart_img{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px 40px;
    padding-top: 30px;
    
}

.cart_img{
    width: 100%;
    max-width: 90px;
    max-height: 90px;
    height: 100%;
}

.big_cart_img{
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 453px;
    display: flex;
    justify-content: center;
    
}

.cart_disc{
    color: white;
}

.disc_text{
    max-width: 480px;
    
}

.cart_img{
    border-radius: 5px;
}


.cart_disc{
    display: flex;
    flex-direction: column;
}

.add_cart{
    display: flex;
    max-width: 350px;
    width: 100%;
    max-height: 69px;
    height: 100%;
}


